<!DOCTYPE html>
<html lang="" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Starter Template for Bootstrap 3.3.4</title>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <style>
    body {
      padding-top: 50px;
    }

    body > .container {
      margin-top: 20px;
    }
  </style>
  <!--[if IE]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <!--.nav-collapse -->
  </div>
</nav>
<div class="container" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <input type="search" class="form-control" placeholder="Type here to search" ng-model="searchText"
             ng-change="search()">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <ul class="list-unstyled">
        <li ng-repeat="item in list">
          <a href="{$item.url$}">
            {$ item.url $}
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  var app = angular.module('app', [])
          .config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
    })
    .controller('MainCtrl', function ($scope, $http) {

      $scope.search = function () {
        if ($scope.searchText.length > 1) {
          // change the url here
          $http.get('http://localhost:8000/search_tags', {
            params: {
              keyword: $scope.searchText // it will hit url?q=<text>
            }
          }).then(function (res) {

            $scope.list = res.data.message; // res.data is an array of results // ['a', 'b', 'c']/
            console.log($scope.list);
          });
        }
      }
    })
</script>
</body>

</html>